img{
    cursor: pointer;
}
.footer{
    background-color: #000;
    padding: 20px 50px;
    cursor: default;
    .footer__container{
        display: flex;
        justify-content: space-between;
        .container-logo{
            display: flex;
            justify-content: center;
            .logo{
                background-color: #C47831;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                width: 70px;
                height: 65px;
                &:active{
                    background-color: #a2642a;
                }
            }
        }
        .container-navigation{
            color: #c5c5c5;
            display: flex;
            align-items: center;
            gap: 100px;
            .container-navigationBar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                .navigation-elementF{
                    text-decoration: none;
                    font-size: 20px;
                    font-family: Montserrat;
                    font-weight: 500;
                    &:hover{
                        color: #ffff;
                    }
                }
            }
            .container-socials{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .socials-inst{
                    width: 26px;
                    height: 26px;
                }
                .socials-teleg{
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
}

@media (max-width:450px) {
    .footer{
        padding: 20px 20px;
        .footer__container{
            .container-logo{
                .logo{
                    border-radius: 10px;
                    width: 35px;
                    height: 35px;
                }
            }
            .container-navigation{
                gap: 15px;
                .container-navigationBar{

                    gap: 10px;
                    .navigation-elementF{
                        font-size: 12px;
                    }
                }
                .container-socials{
                    gap: 20px;
                    .socials-inst{
                        width: 14px;
                        height: 14px;
                    }
                    .socials-teleg{
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }    
}

@media (max-width:768px) {
    .footer{
        padding: 20px 40px;
        .footer__container{
            .container-logo{
                .logo{
                    border-radius: 15px;
                    width: 50px;
                    height: 55px;
                }
            }
            .container-navigation{
                gap: 30px;
                .container-navigationBar{

                    gap: 20px;
                    .navigation-elementF{
                        font-size: 16px;
                    }
                }
                .container-socials{
                    gap: 20px;
                    .socials-inst{
                        width: 18px;
                        height: 18px;
                    }
                    .socials-teleg{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }    
}

@media (max-width:1024px) {
    .footer{
        padding: 20px 60px;
        .footer__container{
            .container-logo{
                .logo{
                    border-radius: 17px;
                    width: 60px;
                    height: 65px;
                }
            }
            .container-navigation{
                gap: 60px;
                .container-navigationBar{

                    gap: 30px;
                    .navigation-elementF{
                        font-size: 22px;
                    }
                }
                .container-socials{
                    gap: 30px;
                    .socials-inst{
                        width: 26px;
                        height: 26px;
                    }
                    .socials-teleg{
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
    }    
}



@media (min-width:1366px) {
    .footer{
        padding: 20px 120px;
        .footer__container{
            .container-logo{
                .logo{
                    border-radius: 22px;
                    width: 80px;
                    height: 85px;
                }
            }
            .container-navigation{
                gap: 80px;
                .container-navigationBar{

                    gap: 50px;
                    .navigation-elementF{
                        font-size: 26px;
                    }
                }
                .container-socials{
                    gap: 40px;
                    .socials-inst{
                        width: 26px;
                        height: 26px;
                    }
                    .socials-teleg{
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
    }    
}


@media (min-width:1920px) {
    .footer{
        padding: 20px 120px;
        .footer__container{
            .container-logo{
                .logo{
                    border-radius: 32px;
                    width: 120px;
                    height: 125px;
                }
            }
            .container-navigation{
                gap: 100px;
                .container-navigationBar{

                    gap: 70px;
                    .navigation-elementF{
                        font-size: 36px;
                    }
                }
                .container-socials{
                    gap: 40px;
                    .socials-inst{
                        width: 36px;
                        height: 36px;
                    }
                    .socials-teleg{
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }    
}

