img{
    cursor: pointer;
}
.footer{
    background-color: #000;
    padding: 20px 50px;
    cursor: default;
    .footer__container{
        display: flex;
        justify-content: space-between;
        .container-logo{
            display: flex;
            justify-content: center;
            .logo{
                background-color: #C47831;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                width: 70px;
                height: 65px;
                &:active{
                    background-color: #a2642a;
                }
            }
        }
        .container-navigation{
            color: #c5c5c5;
            display: flex;
            align-items: center;
            gap: 100px;
            .container-navigationBar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                .navigation-elementF{
                    text-decoration: none;
                    font-size: 20px;
                    font-family: Montserrat;
                    font-weight: 500;
                    &:hover{
                        color: #ffff;
                    }
                }
            }
            .container-socials{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .socials-inst{
                    width: 30px;
                    height: 30px;
                }
                .socials-teleg{
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
}
