.main{
    background-color: #060606;
    padding: 60px 50px;
    padding-bottom: 20px;
    transform: translateZ(0);
    will-change: opacity;
    .main__container{
        display: flex;
        color: #ffff;
        justify-content: space-between;
        .container__textContent{
            position: relative;
            top: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 600px;
            .textContent-subheading{
                color: #F0A44D;
                font-size: 28px;
                font-family: Montserrat;
                font-weight: 700;
            }
            .hidden{
                opacity: var(--opacity-hidden);
                transition: var(--transition-hidden);
                filter: var(--filter-hidden);
                transform: var(--transform-hidden);
            }
            .hidden:nth-child(1) {
                transition-delay: 400ms;
            }
            .hidden:nth-child(2) {
                transition-delay: 300ms;
            }
            .hidden:nth-child(3){
                transition-delay: 200ms;
            }
            .hidden:nth-child(4){
                transition-delay: 250ms;
            }
            .show{
                opacity: var(--opacity-show);
                transition: var(--transition-show);
                filter: var(--filter-show);
                transform: var(--transform-show);
            }
            .textContent-heading{
                font-size: 44px;
                font-family: Montserrat;
                font-weight: 700;
            }
            .textContent-paragraph{
                font-size: 18px;
                font-family: Montserrat;
                font-weight: 500;
                padding: 20px 0;
            }
            .textContent-link{
                font-size: 16px;
                font-family: Montserrat;
                font-weight: 500;
                border-radius: 10px;
                padding: 10px 5px;
                width: 160px;
                display: flex;
                justify-content: center;
                text-decoration: none;
                background: linear-gradient(to right, #FDB163, #ED8D2B);
                &:active{
                    background: linear-gradient(to right, #d09152, #b66b20);
                }
            }
        }
        .container__imgContent{
            width: 331px;
            height: 370px;
            
            .imgContent-mainImg{
                width: 100%;
                cursor: default;

            }
            .imgContent-anim{
                display: hidden;
                opacity: var(--opacity-hidden);
                transition: var(--transition-hidden);
                filter: var(--filter-hidden);
            }
            .show{
                display: block;
                opacity: var(--opacity-show);
                transition: var(--transition-show);
                filter: var(--filter-show);
            }
        }
    }
    .main__container2{
        display: flex;
        justify-content: space-between;
        color: #ffff;
        padding: 30px 0;
        .container__newimgContent{
            padding-left: 50px;
            width: 400px;
            .imgContent-imgMain{
                width: 100%;
                cursor: default;

            }
            .imgContent-anim{
                opacity: var(--opacity-hidden);
                transition: var(--transition-hidden);
                filter: var(--filter-hidden);
                transform: var(--transform-hidden);
            }
            .show{
                opacity: var(--opacity-show);
                transition: var(--transition-show);
                filter: var(--filter-show);
                transform: var(--transform-show);
            }
        }
        .container__textInfo{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 600px;
            line-height: 27px;
            position: relative;
            top: 10px;
            .textContent-info{
                font-size: 24px;
                font-family: Montserrat;
                font-weight: 600;
                background: linear-gradient(to right, #FDB163, #ED8D2B);
                background-clip: text;
                color: transparent;
                text-shadow: 0 0 30px rgba(255, 165, 0, 0.7); /* Эффект свечения */
            }
            .textContent-paragraphinfo {
                font-size: 21px;
                font-family: Montserrat;
            }

            .textContent-anim{
                opacity: var(--opacity-hidden);
                transition: var(--transition-hidden);
                filter: var(--filter-hidden);
            }
            .textContent-anim:nth-child(1){
                transition-delay: 200ms;
            }
            .textContent-anim:nth-child(2){
                transition-delay: 150ms;
            }
            .show{
                opacity: var(--opacity-show);
                transition: var(--transition-show);
                filter: var(--filter-show);
            }
        }
    }

    .modalBlur{
        filter: blur(40px);
    }
    .main__modalContainer{
        display: none;
        position: relative;
        justify-content: center;
        
        .main__modalPage{
            position: relative;
            background-color: #111111;
            padding: 10px 40px;
            padding-bottom: 0;
            z-index: 1;
            border-radius: 15px;
            margin: 10px 40px;
            margin-right: 100px;
            color: #ffff;
            .modalExit{
                display: flex;
                justify-content: right;
                .modalPage-exit{
                    font-size: 30px;
                    padding-bottom: 5px;
                    &:active{
                        color: #c2c2c2;
                    }
                }
            }
    
            .modalPage__wrapper{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                .modalPage-imgContent{
                    width: 95%;
                    height: 360px;
                }
                .modalPage-textContent{
                    display: block;
                    width: fit-content;
                    margin: auto;
                    text-align: center; 
                    white-space: pre-line; 
                    line-height: 1.5; 
                    .modalPage-text{
                        font-size: 16px;
                        font-family: 'Montserrat';
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
@media (max-width:1024px) {

    .main{
        padding:30px 60px;
        .main__container{
            padding-bottom: 30px;
            .container__textContent{
                gap: 10px;
                width: 500px;
                .textContent-subheading{
                    font-size: 28px;
                }
                .textContent-heading{
                    font-size: 38px;
                }
                .textContent-paragraph{
                    font-size: 18px;
                }
                .textContent-link{
                    font-size: 18px;
                    border-radius: 10px;
                    padding: 10px 8px;
                    width: 140px;
                }
            }
            .container__imgContent{
                width: 321px;
                height: 330px;
            }
        }
        .main__container2{
            padding: 20px 0;
            .container__newimgContent{
                padding-left: 20px;
                width: 360px;

            }
            .container__textInfo{
                gap: 15px;
                width: 490px;
                line-height: 26px;
                font-size: 14px;
                .textContent-info{
                    font-size: 28px;
                }

            }
        }
    
        .main__modalContainer{
            .main__modalPage{
                padding: 10px 20px;
                padding-bottom: 20px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 25px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 10px;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 360px;
                    }
                    .modalPage-textContent{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {  
    .main{
        padding:20px 20px;
        .main__container{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 50px;
            gap: 20px;
            .container__textContent{
                gap: 5px;
                width: 95%;
                .textContent-subheading{
                    font-size: 18px;
                }
                .textContent-heading{
                    font-size: 28px;
                }
                .textContent-paragraph{
                    font-size: 12px;
                }
                .textContent-link{
                    font-size: 12px;
                    border-radius: 10px;
                    padding: 10px 5px;
                    width: 100px;
                }
            }
            .container__imgContent{
                width: 321px;
                height: 320px;
            }
        }
        .main__container2{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .container__newimgContent{
                padding-left: 0px;
                width: 320px;

            }
            .container__textInfo{
                gap: 10px;
                width: 92%;
                line-height: 20px;
                font-size: 12px;
                .textContent-info{
                    font-size: 18px;
                }

            }
        }
    


        
        .modalBlur{
            filter: blur(40px);
        }
        .main__modalContainer{
            justify-content: center;
            padding: 40px 0px;
            .main__modalPage{
                margin: 0;
                width: 350px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 28px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 10px;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 190px;
                    }
                    .modalPage-textContent{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width:400px) {  
    .main{
        padding:20px 20px;
        .main__container{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 50px;
            gap: 20px;
            .container__textContent{
                gap: 5px;
                width: 95%;
                .textContent-subheading{
                    font-size: 18px;
                }
                .textContent-heading{
                    font-size: 28px;
                }
                .textContent-paragraph{
                    font-size: 12px;
                }
                .textContent-link{
                    font-size: 12px;
                    border-radius: 10px;
                    padding: 10px 5px;
                    width: 100px;
                }
            }
            .container__imgContent{
                width: 321px;
                height: 320px;
            }
        }
        .main__container2{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .container__newimgContent{
                padding-left: 0px;
                width: 320px;

            }
            .container__textInfo{
                gap: 10px;
                width: 92%;
                line-height: 20px;
                font-size: 12px;
                .textContent-info{
                    font-size: 18px;
                }

            }
        }
    


        
        .modalBlur{
            filter: blur(40px);
        }
        .main__modalContainer{
            justify-content: center;
            padding: 40px 0px;
            .main__modalPage{
                margin: 0;
                width: 350px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 28px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 10px;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 190px;
                    }
                    .modalPage-textContent{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width:450px) {
    .main{
        padding:20px 20px;
        .main__container{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 50px;
            gap: 20px;
            .container__textContent{
                gap: 5px;
                width: 95%;
                .textContent-subheading{
                    font-size: 21px;
                }
                .textContent-heading{
                    font-size: 32px;
                }
                .textContent-paragraph{
                    font-size: 16px;
                }
                .textContent-link{
                    font-size: 16px;
                    border-radius: 10px;
                    padding: 10px 5px;
                    width: 130px;
                }
            }
            .container__imgContent{
                width: 341px;
                height: 340px;
            }
        }
        .main__container2{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .container__newimgContent{
                padding-left: 0px;
                width: 340px;

            }
            .container__textInfo{
                gap: 10px;
                width: 95%;
                line-height: 20px;
                font-size: 14px;
                .textContent-info{
                    font-size: 21px;
                }

            }
        }
    


        
        .modalBlur{
            filter: blur(40px);
        }
        .main__modalContainer{
            padding: 40px 25px;
            justify-content: center;
            .main__modalPage{
                margin: 0;
                width: 350px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 28px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 10px;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 210px;
                    }
                    .modalPage-textContent{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .main{
        padding:20px 40px;
        .main__container{
            padding-bottom: 80px;
            .container__textContent{
                gap: 5px;
                width: 350px;
                .textContent-subheading{
                    font-size: 21px;
                }
                .textContent-heading{
                    font-size: 32px;
                }
                .textContent-paragraph{
                    font-size: 16px;
                }
                .textContent-link{
                    font-size: 16px;
                    border-radius: 10px;
                    padding: 10px 5px;
                    width: 130px;
                }
            }
            .container__imgContent{
                width: 281px;
                height: 290px;
            }
        }
        .main__container2{
            padding: 20px 0;
            .container__newimgContent{
                padding-left: 20px;
                width: 280px;

            }
            .container__textInfo{
                gap: 10px;
                width: 350px;
                line-height: 20px;
                font-size: 12px;
                .textContent-info{
                    font-size: 21px;
                }

            }
        }
    


        
        .modalBlur{
            filter: blur(40px);
        }
        .main__modalContainer{
            .main__modalPage{
                padding: 10px 20px;
                padding-bottom: 20px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 28px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 10px;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 260px;
                    }
                    .modalPage-textContent{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width:1366px) {
    .main{
        padding:30px 80px;
        .main__container{
            padding-bottom: 80px;
            .container__textContent{
                gap: 15px;
                width: 600px;
                .textContent-subheading{
                    font-size: 34px;
                }
                .textContent-heading{
                    font-size: 54px;
                }
                .textContent-paragraph{
                    font-size: 23px;
                }
                .textContent-link{
                    font-size: 23px;
                    border-radius: 15px;
                    padding: 15px 8px;
                    width: 200px;
                }
            }
            .container__imgContent{
                width: 421px;
                height: 430px;
            }
        }
        .main__container2{
            padding: 20px 0;
            .container__newimgContent{
                padding-left: 50px;
                width: 460px;

            }
            .container__textInfo{
                gap: 35px;
                width: 690px;
                line-height: 34px;
                font-size: 18px;
                .textContent-info{
                    font-size: 34px;
                }

            }
        }
    


        
        .modalBlur{
            filter: blur(40px);
        }
        .main__modalContainer{
            flex-direction: column;
            align-items: center;
            .main__modalPage{
                padding: 20px 40px;
                padding-bottom: 20px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 35px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 10px;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 460px;
                    }
                    .modalPage-textContent{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


@media (min-width:1920px) {
    .main{
        padding:70px 120px;
        padding-bottom: 20px;
        .main__container{
            padding-bottom: 80px;
            .container__textContent{
                gap: 20px;
                width: 900px;
                .textContent-subheading{
                    font-size: 44px;
                    font-family: Montserrat;
                    font-weight: 700;
                }
                .textContent-heading{
                    font-size: 64px;
                    font-family: Montserrat;
                    font-weight: 700;
                }
                .textContent-paragraph{
                    font-size: 26px;
                }
                .textContent-link{
                    font-size: 26px;
                    border-radius: 15px;
                    padding: 20px 10px;
                    width: 260px;
                }
            }
            .container__imgContent{
                width: 481px;
                height: 490px;
            }
        }
        .main__container2{
            padding: 30px 0;
            .container__newimgContent{
                padding-left: 50px;
                width: 500px;

            }
            .container__textInfo{
                gap: 20px;
                width: 800px;
                line-height: 37px;
                top: 20px;
                font-size: 21px;
                .textContent-info{
                    font-size: 44px;
                }

            }
        }
    


        
        .modalBlur{
            filter: blur(40px);
        }
        .main__modalContainer{
            flex-direction: column;
            align-items: center;
            .main__modalPage{
                padding: 20px 40px;
                padding-bottom: 20px;

                .modalExit{
                    .modalPage-exit{
                        font-size: 40px;
                    }
                }
        
                .modalPage__wrapper{
                    gap: 20px;
                    align-items: center;
                    .modalPage-imgContent{
                        width: 95%;
                        height: 560px;
                    }
                    .modalPage-textContent{
                        font-size: 21px;
                    }
                }
            }
        }
    }
}