mixin footer()
    footer.footer
        .footer__container 
            .container-logo
                a(href="#")
                    img.logo(src="@img/logo.png", alt="logo", draggable="false")
            .container-navigation
                .container-navigationBar
                    a.navigation-element(href="#aboutMe") About me
                    a.navigation-element(href="#skills") Skills
                    a.navigation-element(href="#hobbies") Hobby
                .container-socials 
                    a(href="https://www.instagram.com/rashid941shukurov/" target="_blank")
                        img.socials-inst(src="@img/instagram.png", alt="instagram",  draggable="false")
                    a(href="https://t.me/capebabra3" target="_blank") 
                        img.socials-teleg(src="@img/telegram.png", alt="telegram",  draggable="false") 
