mixin hobbies 
    hobbies.hobbies#hobbies 
        .hobbies__container 
            .container-headingHobbies
                h3.headingHobbies 
            .container-contentHobbiesImg
                img.contentHobbies-img(src="@img/football.png", alt="football", draggable="false")
                .contentHobbies-text
                    .contentHobbies-textInfo
                        h3.contentHobbies-textHeading Football
                        p.contentHobbies-textParagraph One of my hobbies is football, which provides the opportunity to reunite with long-time friends and engage in enjoyable competitive activities.
                    a.contentHobbies-link#hobbies1 More details
            .container-contentHobbiesImg
                img.contentHobbies-img(src="@img/snowboarding.png", alt="football", draggable="false")
                .contentHobbies-text
                    .contentHobbies-textInfo
                        h3.contentHobbies-textHeading Snowboarding
                        p.contentHobbies-textParagraph Snowboarding has been one of my longstanding hobby-sports. Since 2018, I have been training and riding a snowboard.
                    a.contentHobbies-link#hobbies2 More details
            .container-contentHobbiesImg
                img.contentHobbies-img(src="@img/badminton.png", alt="football", draggable="false")
                .contentHobbies-text
                    .contentHobbies-textInfo
                        h3.contentHobbies-textHeading Badminton
                        p.contentHobbies-textParagraph Badminton, after morning workouts on the pull-up bars, is the most enjoyable way to train strength and endurance, invigorating you for the entire day.
                    a.contentHobbies-link#hobbies3 More details
            .container-contentHobbiesImg
                img.contentHobbies-img(src="@img/guitar.png", alt="football", draggable="false")
                .contentHobbies-text
                    .contentHobbies-textInfo
                        h3.contentHobbies-textHeading Guitar
                        p.contentHobbies-textParagraph Playing the guitar brings immense joy, as the ability to replicate my favorite songs on a musical instrument has always inspired me. The skill of playing the guitar helps me cope with tension and stress, providing a therapeutic and creative outlet.
                    a.contentHobbies-link#hobbies4 More details
                